# SF Salaries Exercise

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
# Assign data frame as sal and read this csv file from home of jupter.

sal= pd.read_csv('Salaries.csv')

In [3]:
# This for showing indexes and colums vice versa
sal.transpose()

,0,1,2,3,4,5,6,7,8,9,...,148644,148645,148646,148647,148648,148649,148650,148651,148652,148653
Id,1,2,3,4,5,6,7,8,9,10,...,148645,148646,148647,148648,148649,148650,148651,148652,148653,148654
EmployeeName,NATHANIEL FORD,GARY JIMENEZ,ALBERT PARDINI,CHRISTOPHER CHONG,PATRICK GARDNER,DAVID SULLIVAN,ALSON LEE,DAVID KUSHNER,MICHAEL MORRIS,JOANNE HAYES-WHITE,...,Randy D Winn,Carolyn A Wilson,Not provided,Joann Anderson,Leon Walker,Roy I Tillery,Not provided,Not provided,Not provided,Joe Lopez
JobTitle,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,CAPTAIN III (POLICE DEPARTMENT),CAPTAIN III (POLICE DEPARTMENT),WIRE ROPE CABLE MAINTENANCE MECHANIC,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",ASSISTANT DEPUTY CHIEF II,"BATTALION CHIEF, (FIRE DEPARTMENT)",DEPUTY DIRECTOR OF INVESTMENTS,"BATTALION CHIEF, (FIRE DEPARTMENT)","CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",...,"Stationary Eng, Sewage Plant",Human Services Technician,Not provided,Communications Dispatcher 2,Custodian,Custodian,Not provided,Not provided,Not provided,"Counselor, Log Cabin Ranch"
BasePay,167411.18,155966.02,212739.13,77916.0,134401.6,118602.0,92492.01,256576.96,176932.64,285262.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0
OvertimePay,0.0,245131.88,106088.18,56120.71,9737.0,8601.0,89062.9,0.0,86362.68,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0
OtherPay,400184.25,137811.38,16452.6,198306.9,182234.59,189082.74,134426.14,51322.5,40132.23,17115.73,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,-618.13
Benefits,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0
TotalPay,567595.43,538909.28,335279.91,332343.61,326373.19,316285.74,315981.05,307899.46,303427.55,302377.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-618.13
TotalPayBenefits,567595.43,538909.28,335279.91,332343.61,326373.19,316285.74,315981.05,307899.46,303427.55,302377.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-618.13
Year,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,...,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014
Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Agency,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,...,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

** Check the head of the DataFrame. **

In [4]:
# Function of .head() for first 5 indexes.
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
# Function of .info() for showing more detials widely of Data inside csv file.
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
#Assign function of .mean() for calculating average of 'BasePay' colume.

sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
#Assign function of .max()for calculating the highest amount of 'OvertimePay' colume.

sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
# Assign conditional data frame to know the job title of JOSEPH DRISCOLL and taking care about name whole word is uppercase letters.

sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [14]:
# Assign conditional data frame to know TotalPayBenefits of JOSEPH DRISCOLL.

sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [18]:
# Assign data frame x to know the name of highest paid person by using .idxmax() function.

x= sal['TotalPayBenefits'].idxmax()
sal.loc[x]['EmployeeName']

'NATHANIEL FORD'

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [19]:
# Assign data frame x to know the name of lowest paid person by using .idxmin() function.

x= sal['TotalPayBenefits'].idxmin()
sal.iloc[x]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [20]:
# Assign groupby method to group rows of data together in year and call aggregate functions.
#for calculating the average of BasePay icluding all employees per year between 2011 to 2014 by use .mean().

sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [22]:
# Assign function .nunique() for calculating number of unique values of 'JobTitle'. 

sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [23]:
# Assign function .value_counts() for counting values of 'JobTitle'. 
# Assign also .head() for persenting the top 5 most common jobs.
    
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [24]:
#Assign conditional data frame to know Job Titles use .sum() were represented by only one person in 2013 .value_counts()==1.

(sal[sal['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [25]:
#Assign data frame and .apply() to function .sum() for calculating number of the word Chief as string x in their job title.

sal['JobTitle'].apply(lambda x :('chief' in str(x).lower())).sum()

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [27]:
#Assign data frame as 'title_len' use .apply(len) then .corr between'title_len' and 'TotalPayBenefits' for calculating correlation between them. 

sal['title_len'] = sal['JobTitle'].apply(len)

In [28]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

There is no corrlation between 'title_len' and 'TotalPayBenefits'.

# Great Job!